@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Dapper Project</h1>
        <p class="lead">The Dapper Project has been developed using ASP.NET-MVC with MsSQL Stored Procedures. This project doesn't include any specific themes and has been prepared by Furkan Kılıç...</p>
       
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Select any list item to start the project.</h2>
           
        </section>
    </div>
</main>